@model List<GetSpeakerAdminVM>
<h5 class="card-title fw-semibold mb-4">Speaker</h5>
<a asp-action="Create" class="btn btn-outline-success m-1 float-end mb-2">Create</a>
    <div class="table-responsive w-100">
        <table class="table text-nowrap table-bordered mb-0 align-middle">
            <thead class="text-dark fs-4">
                <tr>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Image</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Title</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Description</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Priority</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">TwitterImage</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">InImage</h6>
                    </th>
                    <th class="border-bottom-0">
                        <h6 class="fw-semibold mb-0">Action</h6>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">@item.Image</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">@item.Title</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">@item.Description</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">@item.FaceBookImage</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">@item.TwitterImage</h6>
                        </th>
                        <th class="border-bottom-0">
                            <h6 class="fw-semibold mb-0">@item.InImage</h6>
                        </th>
                        <th class="border-bottom-0">
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-success m-1">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger m-1">Delete</a>

                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>



